.logo img {
    width: 60px;
    height: 60px;
}

.nav-link {
    margin: 0 10px;
    font-weight: 500;
}

.nav-link {
    color: var(--black);

}

.navbar-light .navbar-nav .nav-link:hover {
    color: var(--blue);
}

.nav-link.active {
    color: var(--blue);
}